.section__introduction {
  background-image: url("./resources/img/header-bg-desktop.svg");
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}

p {
  /* width: 60%; */
}
